footer {
  border-top: 1px solid $border-color;

  .copy-write {
    padding: 20px 0;
    font-weight: 600;
    .social {
     
      float: left;
      font-size: 1.5em;
      a {
        float: left;
        margin: 0 20px 0 0;
      }
    }
  }
}
